ul,
ol {
  font-size: 1.6rem;
  list-style-type: none;
}

body {
  padding: 1rem;
}

nav ul {
  padding: 1rem 2rem;
  border: 0.2rem solid black;
  border-radius: 0.5rem;
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 1rem 0;
  text-align: center;
}

nav a,
nav a:link {
  display: block;
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    letter-spacing 0.3s ease-in-out;
}

nav a:visited {
  background-color: #333;
  color: #ccc;
}

nav a:hover {
  background-color: #222;
  color: #fff;
}

nav a:active {
  background-color: #111;
  color: #a0a0a0;
}
