nav {
  padding: 2rem;
  background-color: rgb(255, 96, 96);
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  list-style-type: none;
}

nav li {
  flex: 1 1 auto;
}

nav a,
nav a:link {
  display: block;
  width: 100%;
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
